@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app_bg text-app_text;
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00837e;
  border-radius: 14px;
}
